.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5555559c;
    backdrop-filter: blur(4px);
    
}
.overlay,
.confirm-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirm-box{
color: #fff;
font-weight: 600;
gap: 2rem;
}